
.movies-container {
     width: 80%;
}

.navbar {
    border-radius: 0px;
}

.container {
    width: 90%;
}

.navbar-right {
    margin-right: 5px;
}

.glyphicon glyphicon-star {
    color: yellow;
}
#registerForm {
   display:none;
}