
.movies-container {
     width: 80%;
}

.navbar {
    border-radius: 0px;
}

.container {
    width: 90%;
}

.navbar-right {
    margin-right: 5px;
}

.glyphicon glyphicon-star {
    color: yellow;
}

#logoutButton{
    display:none;
}
#welcome {
    display:none;
    color:white;
    padding:15px;
}

.col-lg-3 col-md-6 mb-4 {
    min-height: 30px !important;
}
#movie-details{
    position: relative;
}

.footer-copyright {
    background-color: #000;
    width: 100%;
    
}

.img-test {
    max-height: 220px;
}

.no-margin {
    margin: 0px;
}


.thumbnail {
  height: 450px;
}

.bottom {
    position: absolute;
    bottom: 30px;
}